*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-transform: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(Catopia.JPG) repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
   display: flex; 
   flex-direction: column;
   /* border: 1px solid white; */
   align-items: center;
   position: absolute;
   top: 30%;
   right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

/* About Section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* YouTube Section */
#youtube{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;

}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 500px;
}

/* Services Section */
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
}

.box{
    display: flex;
    flex-direction: column;
    width: 1500px;
    height: 475px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255,45,45) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}

.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255,45,45);
}

/* Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(255, 251, 251, 0.9);
    color: white;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 50%;
    border: none;
    outline: none;
}
#msg{
    width: 30%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

.index-intro p{
    font-weight: 400;
    font-family: Lato;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
    padding: 10px 40px;
}

/*---------footer----------*/

footer {
    width: 100%;
    font-size: x-large;
    background-color: rgb(255, 255, 255);
    padding: 60px 0px;
}

.blink {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
      opacity: 1;  
    }
    50% {
       opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}
    
